* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

:root {
  --primary: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  --secondary: #fff;
  --accent: #1888ff;
}

h1 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.container {
  max-width: 1200px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.imageContainer {
  background: url(https://images.unsplash.com/photo-1541667816405-e38aca4ca38d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)
    center;
  max-width: 1200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

input,
textarea {
  border: 1px solid lightgrey;
  padding: 0.5rem;
  width: 100%;
  outline-width: 0;
  border-radius: 5px;
}

p {
  font-family: "PT Sans", sans-serif;
}

label {
  padding: 10px 0px 10px;
  font-weight: bold;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

@media (max-width: 990px) {
  input,
  textarea {
    width: 100%;
  }
}
