.footer {
  background-color: black;
  color: var(--secondary);

  &__heading {
    font-size: 25px;
  }

  &__row {
    display: flex;
  }

  &__list {
    list-style: none;
    padding-top: 1em;
  }

  &__list li {
    padding-top: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  &__column {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &__bottom {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }

  @media (max-width: 500px) {
    &__row {
      flex-direction: column;
    }
    &__list {
      padding: 0;
    }
    &__column {
      margin: 0;
    }
  }
}
